body {
  margin: 0;
  font-family: Bebas Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-inline-start: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.ad {
  margin-left: 90px;
  .ad-text {
    color: rgb(44, 51, 51);
    font-size: 60px;
    font-weight: 300;
    line-height: 110px;
    h2 {
      line-height: 30px;
      img {
        position: absolute;
        top: 159px;
        left: 730px;
      }
    }
  }
}

.testimonial {
  display: flex;
  padding-bottom: 25px;
  .testimonial_block {
    width: 375px;
    margin-left: 25px;
    height: 377px;
    border: 1px solid rgb(44, 51, 51);
    border-left: none;

    .testimonial__header {
      color: rgb(44, 51, 51);
      font-family: Bebas Neue;
      font-size: 50px;
      font-weight: 400;
    }
    .testimonial__descr {
      color: rgb(44, 51, 51);
      font-family: Roboto Slab;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0%;
      text-align: left;
    }
  }

  .testimonial_one {
    min-width: 340px;
    max-height: 337px;
    border: 1px solid rgb(44, 51, 51);
    .testimonial__header {
      color: rgb(44, 51, 51);
      font-family: Bebas Neue;
      font-size: 27.4px;
      font-weight: 600;
      line-height: 31px;
      text-align: center;
    }
    .testimonial__ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 10px;
        list-style-type: none;
      }
    }
    .testimonial__descr {
      width: 216px;
      margin: 0 auto;
      color: rgb(44, 51, 51);
      font-family: Roboto Slab;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
    }
  }
}

.member {
  padding: 25px;
  .member__main {
    background: rgb(217, 217, 217);
    .member__content {
      margin: 50px;
      display: flex;
      flex-direction: column;
      .member__header {
        color: rgb(255, 255, 255);
        font-family: Bebas Neue;
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 50px;
      }
      .member__subheader {
        color: rgb(255, 255, 255);
        font-family: Roboto Slab;
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        margin-top: 20px;
      }
      .member__btn {
        margin-top: 50px;
        height: 61px;
        margin-bottom: 50px;
        /* Title/H3 */
        color: rgb(44, 51, 51);
        font-family: Bebas Neue;
        font-size: 24px;
        font-weight: 400;
        line-height: 31px;
        text-align: center;
      }
    }
  }
}

.frequenty {
  min-height: 600px;
  .frequenty__main {
    display: flex;
    min-height: 160px;
    flex-direction: row;
    align-items: flex-end;
    .frequenty_unreal {
      width: 20%;
    }
    .frequenty_questions {
      padding-bottom: 25px;
      width: 80%;
      color: rgb(44, 51, 51);
      font-family: Bebas Neue;
      font-size: 48px;
      font-weight: 400;
      text-align: left;
      text-align: center;
    }
  }
  .frequenty_search-content {
    padding: 25px;
    .frequenty-content {
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        height: 69.44px;
        border: 1px solid rgb(44, 51, 51);
        background: rgb(255, 255, 255);
        color: rgb(174, 174, 174);
        font-family: Bebas Neue;
        font-size: 24px;
        font-weight: 400;
        text-align: left;
      }
      div {
        margin-top: 25px;
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 69.44px;
          width: 100%;
          border-bottom: 1px solid rgb(44, 51, 51);
          border-radius: 10px;
          box-shadow: 2px 10px 15px 0px rgba(29, 132, 194, 0.05);
          color: rgb(44, 51, 51);
          font-family: Bebas Neue;
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 10%;
          text-align: left;
        }
      }
    }
  }
}

.footer {
  display: flex;

  .footer__logo {
    display: flex;
    max-width: 100%;
    padding: 25px;
    border: 1px solid rgb(44, 51, 51);
    .logo__name {
      color: rgb(44, 51, 51);
      font-family: Bebas Neue;
      font-size: 30px;
      font-weight: 600;
      margin-right: 25px;
      
    }
    .logo__descr {
      color: rgb(44, 51, 51);
      font-family: Roboto Slab;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .footer__info {
    display: flex;
    .footer__contacts {
      min-width: 30%;
      padding: 25px;
      border: 1px solid rgb(44, 51, 51);
      border-top: none;
      ul {
        li {
          list-style-type: none;
          color: rgb(44, 51, 51);
          font-family: Roboto Slab;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }

    .footer__addr {
      min-width: 30%;
      padding: 25px;
      border: 1px solid rgb(44, 51, 51);
      border-top: none;
      color: rgb(44, 51, 51);
      font-family: Roboto Slab;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: left;
    }

    .footer__rules {
      min-width: 25%;
      padding: 25px;
      border: 1px solid rgb(44, 51, 51);
      border-top: none;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        li {
          list-style-type: none;
          color: rgb(44, 51, 51);
          font-family: Roboto Slab;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  .footer__nav {
    border: 1px solid rgb(44, 51, 51);
    border-left: none;
    padding: 13px;

    ul {
      li {
        margin-top: 11px;
        list-style-type: none;
        color: rgb(44, 51, 51);
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        text-decoration-line: underline;
      }
    }
  }

  .footer__get-info {
    border: 1px solid #2c3333;
    border-left: none;
    .footer__info-main {
      padding: 15px;
      margin: 15px;
      background: rgb(44, 51, 51);
      width: 300px;
      .info__header {
        color: rgb(255, 255, 255);
        font-family: Bebas Neue;
        font-size: 24px;
        font-weight: 400;
        margin: 15px;
      }
      .info__inp {
        display: flex;
        
        input {
          margin-left: 15px;
          width: 189px;
          height: 37px;
        }
        img {
          height: 42px;
        }
      }
    }
  }
}

.footer__rights {
  text-align: center;
  padding: 15px;
  color: rgb(44, 51, 51);
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 400;
}
