body {
  margin: 0;
  font-family: Bebas Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-inline-start: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.ad {
  margin-left: 90px;
  .ad-text {
    color: rgb(44, 51, 51);
    font-size: 60px;
    font-weight: 300;
    line-height: 110px;
    h2 {
      line-height: 30px;
      img {
        position: absolute;
        top: 159px;
        left: 730px;
      }
    }
  }
}

.footer__rights {
  text-align: center;
  padding: 15px;
  color: rgb(44, 51, 51);
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 400;
}